.AddMemberInput {
    display: inline;
    width: 240px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    height: 2rem;
    margin-left: 1.81rem;
    padding: 0.3rem 0.5rem;
}

.AddMemberInput::placeholder {
    color: #adb5bd;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25rem;
}

.xIconButton {
    position: absolute;
    background-color: #f5f6fa;
    border: none;
    width: 1rem;
    right: 1.5rem;
    top: 0.59rem;
}

.addMemberSelect {
    width: 240px !important;
}

.AddMemberPopUpModal {
    position: absolute;
    right: 1rem;
    top: 28.5rem;
    z-index: 1000;
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.36);
    border-radius: 0.5rem;
    background-color: #f5f6fa;
    width: 20.1875rem;
    /* height: 20rem; */
    margin-top: -17rem;
    padding-left: 1.3rem;
    /* text-align: center; */
}

.AddMemberPopUpheader {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    /* margin-left: 2rem; */
    font-size: 1rem;
}

.AddMemberPopUpheadertext {
    color: #565656;
    font-family: var(--inter) !important;
    font-size: 1.5rem;
    font-weight: 400 !important;
    line-height: 1.25rem;
    /* font-family: Inter; */
    /* margin-bottom: -1rem; */
    padding-top: 2.06rem;
    margin-left: 1.81rem !important;
}

.AddMemberPopUpheadertexts {
    margin-left: 1.81rem;
    font-size: 0.875rem;
    color: #565656;
    font-family: var(--inter) !important;
    font-weight: 400 !important;
    margin-top: 1rem;
}

.AddMemberPopUpbody {
    /* margin-left: 20px; */
}

.AddButtons {
    margin-top: 15px;
    margin-left: 1.81rem;
}

.AddCloseButton {
    width: 79px;
    height: 32px;
    background-color: #ffffff;
    border: 0.2px solid #D5D5D5;
    border-radius: 0.3125rem;
    font-family: var(--inter);
    font-size: 0.875rem;
    font-weight: 400;
    color: #565656;
}

.AddCloseButton:hover {
    background: #f5f6fa;
}

.AddAddButton {
    border-radius: 0.3125rem;
    margin-left: 16px;
    width: 79px;
    height: 2rem;
    background-color: #3fadbe;
    color: white;
    border: none;
    font-family: var(--inter);
    font-size: 0.875rem;
    font-weight: 400;
}

.AddAddButton:hover {
    background: #3593a2;
}

.AddMemberPopUpfooter {
    margin-left: 1.3rem;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    background: linear-gradient(90deg, #3fadbe 0%, #4067f6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 0.5rem;
    padding-bottom: 1rem;
}

.mailDiv {
    margin-top: -0.2rem;
}

.xIconButtonDark {
    position: absolute;
    background-color: #202020;
    border: none;
    width: 1rem;
    right: 1.5rem;
    top: 0.59rem;
}

.AddMemberPopUpheadertextDark {
    color: #FFF;
    font-family: var(--inter) !important;
    font-size: 1.5rem;
    font-weight: 400 !important;
    line-height: 1.25rem;
    /* font-family: Inter; */
    /* margin-bottom: -1rem; */
    padding-top: 2.06rem;
    margin-left: 1.81rem !important;
}

.AddMemberPopUpheadertextsDark {
    margin-left: 1.81rem;
    font-size: 0.875rem;
    color: #FFF;
    font-family: var(--inter) !important;
    font-weight: 400 !important;
    margin-top: 1rem;
}

.AddCloseButtonDark {
    width: 79px;
    height: 32px;
    border: 0.2px solid #D5D5D5;
    border-radius: 0.3125rem;
    font-family: var(--inter);
    font-size: 0.875rem;
    font-weight: 400;
    border: 0.2px solid #565656;
    background: #1E1E1E;
    color: #FFF;
}


.AddAddButtonDark {
    margin-left: 16px;
    width: 79px;
    height: 2rem;
    color: white;
    border: none;
    font-family: var(--inter);
    font-size: 0.875rem;
    font-weight: 400;
    border-radius: 0.3125rem;
    background: #3372B2;
}

.AddMemberInputDark {
    display: inline;
    width: 240px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    height: 2rem;
    margin-left: 1.81rem;
    padding: 0.3rem 0.5rem;
    background-color: #202020;
    color: #FFF;
}

@media screen and (min-width: 768px) {
    .AddMemberInput {
        width: 18.3125rem;
        padding: 1.1rem;
    }

    .AddMemberPopUpModal {
        width: 22.13125rem;
        /* height: 17.125rem; */
    }

    .addMemberSelect {
        width: 18.3125rem !important;
    }

    .AddMemberPopUpfooter {
        margin-top: 0.3rem;
        font-size: 2.42rem;
    }

    /* Dark theme css */

    .AddMemberInputDark {
        width: 18.3125rem;
        padding: 1.1rem;
    }
}

@media screen and (min-width: 1440px) {
    .AddMemberPopUpModal {
        position: fixed;
        width: 23.75rem;
        height: 19rem;
        bottom: 20rem;
        /* right: -5rem; */
    }

    .AddMemberPopUpheadertext {
        font-size: 1.5rem;
    }
}