* {
    box-sizing: border-box;
}

.create-project {
    display: flex;
    flex-direction: column;
    padding: 0 3rem 1rem;
    background-color: #F5F6FA;
}

.create-project--form {
    display: flex;
    flex-direction: column;
}

.NewProjectName {
    color: #565656;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin-top: 0.69rem;
}

.NewProjectName input::placeholder {
    color: #ADB5BD;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.create-choose--icon {
    color: #565656;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin-bottom: 0;
    margin-top: 0.69rem;
}

.NewProjectDesc {
    color: #565656;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin-top: 0.69rem;
}

.NewProjectDesc input::placeholder {
    color: #ADB5BD;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.H12 {
    /* margin-top: 30px; */
    font-size: 1.5rem;
    color: #565656;
    font-weight: 500;
    line-height: 1.25rem;
    margin-bottom: 1rem;
    /* margin-top: 1rem; */
}

.CreateButtons {
    /* display: flex;
    justify-content: end;
    margin-right: 15px;
    margin-top: 10px; */
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem
}

.cancelBtn {
    padding: 0.625rem 1rem;
    background-color: #fff !important;
    border: 0.2px solid #97979769 !important;
}

.cancelBtnContent {
    color: #565656;
    font-size: 0.875rem;
    font-weight: 500;
}

.createBtn {
    padding: 0.625rem 1rem;
    background: #3FADBE !important;
    border: none !important;
}

.createBtnContent {
    font-size: 0.875rem;
    font-weight: 500;
    color: #fff;
}

/* .CreatePopUp-content {
    margin-top: 170px; */
/* margin-left: -50px; */
/* height: 617px; */
/* width: 347px; */
/* display: flex; */
/* justify-content: center; */
/* margin-left: 0.5px; */
/* } */

@media screen and (min-width: 768px) {
    /* .CreateButtons {
        display: flex;
        justify-content: start;
        margin-left: 4%;
      } */

      /* .CreatePopUp-content {
        width: 750px;
        height: 416px;
      } */

      .create-project {
        /* width: 21.69rem; */
        padding: 3.22rem 2rem;
        border-radius: 10px 0 0 10px;
      }

      .NewProjectDesc {
        width: 15rem;
      }

      .NewProjectName {
        width: 15rem;
      }
}