* {
  box-sizing: border-box;
}

.modalDialog {
  max-width: 400px !important;
  margin: 3rem auto !important;
}

.xIconButton1 {
  border: none;
  background-color: #ffff;
  position: absolute;
  top: 0.1rem;
  right: 0.2rem;
}

.TextThing12 {
  /* margin-top: 0.5rem; */
  font-size: 0.875rem;

}

.buttonsStupid {
  margin-top: 0.5rem;
}

.createProject {
  display: flex;
  flex-direction: column;
  min-width: 360px;
  background-color: #f5f6fa;
  border-radius: 0.625rem;
}

.xIconButton {
  border: none;
  background-color: #f5f6fa;
  text-align: end;
  border-radius: 0.625rem;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-left: 0;
}

.createProjectHeader {
  font-size: 1.5rem;
  color: #565656;
  font-weight: 500;
  line-height: 1.25rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.createProjectForm {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.newProjectName {
  color: #565656;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-top: 0.69rem;
}

.createProjectFormError {
  color: rgba(209, 61, 72, 1);
}

.createChooseIcon {
  color: #565656;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-bottom: 0;
  margin-top: 0.69rem;
}

.newProjectDesc {
  color: #565656;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-top: 0.69rem;
}

.createButtons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
  padding-bottom: 0.62rem;
}

.cancelBtn {
  margin-right: 1rem;
  padding: 0.625rem 1rem;
  background-color: #fff !important;
  border: 0.2px solid #97979769 !important;
}

.cancelBtnContent {
  color: #565656;
  font-size: 0.875rem;
  font-weight: 500;
}

.createBtn {
  padding: 0.625rem 1rem;
  background: #3fadbe !important;
  border: none !important;
}

.deleteBtn {
  background-color: #3fadbe !important;
  border: none !important;
}

.createBtnContent {
  font-size: 0.875rem;
  font-weight: 500;
  color: #fff;
}

.rocketPicture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  border-radius: 0 0 0.65rem 0.625rem;
}

.rocket {
  width: 8.0625rem;
  height: 8.375rem;
  margin: 1rem auto 0.81rem;
}

.rocketSlogan {
  background: linear-gradient(90deg, #3fadbe 0%, #4067f6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 1rem;
}

.newProjectName input::placeholder {
  color: #adb5bd;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

/* .newProjectDesc input::placeholder {
  color: #adb5bd;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
} */

.cancelBtn:hover {
  background-color: #f5f6fa !important;
  border-radius: 0.3125rem !important;
  border: 0.2px solid #565656 !important;
}

.createBtn:hover {
  background-color: #3593a2 !important;
}

/* Dark theme css */

.rocketPictureDark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #1E1E1E;
  border-radius: 0 0 0.3rem 0.3rem;
}

.createProjectFormDark {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  background-color: #121212;
}

.createProjectHeaderDark {
  font-size: 1.5rem;
  color: #FFFFFF;
  font-weight: 500;
  line-height: 1.25rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
  background-color: #121212;
  border-radius: 0.3rem;
}

.blankSpaceDark {
  background-color: #121212;
  border-radius: 1rem;
}

.formLabelDark {
  color: #FFFFFF;
}

.createChooseIconDark {
  color: #FFFFFF;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-bottom: 0;
  margin-top: 0.69rem;
}

.formLabelProjectDescriptionDark {
  color: #FFFFFF;
}

.xIconButtonDark {
  border: none;
  background-color: #f5f6fa;
  text-align: end;
  border-radius: 0.3rem;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-left: 0;
  background-color: #121212;
}

.createProjectDark {
  display: flex;
  flex-direction: column;
  min-width: 360px;
  background-color: #121212;
  border-radius: 0.625rem;
}

.projectNameFieldDark {
  background: #1E1E1E !important;
  border-radius: 0.375rem !important;
  border: 1px solid #565656 !important;
  background: #1E1E1E !important;
  color: #FFFFFF !important;
}

.projectDescriptionFieldDark {
  background: #1E1E1E !important;
  border-radius: 0.375rem !important;
  border: 1px solid #565656 !important;
  background: #1E1E1E !important;
  color: #FFFFFF !important;
}

.newProjectNameDark input::placeholder {
  color: #adb5bd;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.modal-content {
  border-radius: 1rem !important;
}

.createBtnDark {
  padding: 0.625rem 1rem;
  background: #3372B2 !important;
  border: none !important;
}

.cancelBtnDark {
  border-radius: 0.3125rem !important;
  border: 0.2px solid #565656 !important;
  background: #1E1E1E !important;
  margin-right: 1rem;
  padding: 0.625rem 1rem;
}


@media screen and (min-width: 768px) {
  .modalDialog {
    max-width: 780px !important;
    margin-top: 13rem !important;
  }

  .createProject {
    flex-direction: row;
    border-radius: 0.625rem;
  }

  .xIconButton {
    order: 2;
    padding-bottom: 24.5rem;
    background: #fff;
    border-radius: 0 0.625rem 0.625rem 0;
  }

  .createProjectHeader {
    padding-top: 2rem;
    padding-left: 3.5rem;
    margin-bottom: 0.69rem;
  }

  .createProjectForm {
    padding: 0 4rem 0 3.5rem;
  }

  .createButtons {
    padding-bottom: 1.5rem;
  }

  .rocketPicture {
    border-radius: 0;
  }

  .rocket {
    width: 15.125rem;
    height: 15.75rem;
    margin: 3.5rem 0.7rem 0.62rem 3.5rem;
  }

  .rocketSlogan {
    margin-bottom: 3rem;
    margin-left: 2.9rem;
  }



  /* Dark theme css */

  .rocketPictureDark {
    border-radius: 0;
  }

  .createProjectFormDark {
    padding: 0 4rem 0 3.5rem;
    border-radius: 0.3rem;
  }

  .createProjectHeaderDark {
    padding-top: 2rem;
    padding-left: 3.5rem;
    margin-bottom: 0.69rem;
  }

  .xIconButtonDark {
    order: 2;
    padding-bottom: 24.5rem;
    border-radius: 0 0.625rem 0.625rem 0;
    background-color: #1E1E1E;
  }

  .createProjectDark {
    flex-direction: row;
    border-radius: 0.3rem;
  }
}

@media screen and (min-width: 1440px) {
  .modalDialog {
    max-width: 820px !important;
  }

  .cancelBtn {
    width: 4.75rem;
    height: 2.375rem;
  }

  .xIconButton {
    padding-bottom: 29rem;
  }

  .createProjectHeader {
    font-size: 1.875rem;
    padding-top: 4rem;
  }

  .rocket {
    width: 18.6875rem;
    height: 18.6875rem;
    margin-top: 5rem;
  }

  .rocketSlogan {
    font-size: 2.25rem;
    margin-bottom: 4rem;
  }

  .createProjectHeaderDark {
    font-size: 1.875rem;
    padding-top: 4rem;
  }

  /* Dark theme css */

  .xIconButtonDark {
    padding-bottom: 29rem;
  }

  .cancelBtnDark {
    width: 4.75rem;
    height: 2.375rem;
  }

}