* {
    box-sizing: border-box;
}

.create-project {
    width: 21.6875rem;
    height: 38.5625rem;
    border-radius: 0.625rem 0.625rem 0.625rem 0.625rem;
    display: flex;
    flex-direction: column;
    padding: 0 3rem 1rem;
    background-color: #F5F6FA;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    
    
}
.create-project-modal{
    position: absolute;
    z-index: 999;
    top: 70px;
    width: 21.6875rem;
    height: 38.5625rem;
    margin-left: 0.40625rem;
    filter: drop-shadow(0px 8px 35px rgba(0, 0, 0, 0.16));

}

.create-project--form {
    display: flex;
    flex-direction: column;
}

.NewProjectName {
    color: #565656;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin-top: 0.69rem;
}

.NewProjectName input::placeholder {
    color: #ADB5BD;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.create-choose--icon {
    color: #565656;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin-bottom: 0;
    margin-top: 0.69rem;
}

.NewProjectDesc {
    color: #565656;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin-top: 0.69rem;
}

.NewProjectDesc input::placeholder {
    color: #ADB5BD;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.H12 {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #565656;
    font-weight: 500;
    line-height: 1.25rem;
    margin-bottom: 1rem;
}

.CreateButtons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cancelBtn {
    padding: 0.625rem 1rem;
    background-color: #fff !important;
    border: 0.2px solid #97979769 !important;
}

.cancelBtnContent {
    color: #565656;
    font-size: 0.875rem;
    font-weight: 500;
}

.createBtn {
    padding: 0.625rem 1rem;
    background: #3FADBE !important;
    border: none !important;
}

.createBtnContent {
    font-size: 0.875rem;
    font-weight: 500;
    color: #fff;
}

.cancelBtn:hover {
    background-color: #F5F6FA !important;
}

.createBtn:hover {
    background-color: #3593A2 !important;
}

.xIconButton{
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    width: 35px;
    height: 30px;
    border: none;
    background-color: #F5F6FA;
}

.rocketPicture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.rocket{
    width: 8.0625rem;
    height: 8.375rem;
    margin: 1rem auto;
}

.rocketSlogan{
    background: linear-gradient(90deg, #3fadbe 0%, #4067f6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 1rem;
}
.RocketThing{
    background-color: white;
    min-width:  21.6875rem;
    margin-bottom: 10px;
    margin-left: -48px;
    border-radius: 0rem 0rem 0.625rem 0.625rem;
}

@media screen and (min-width: 768px) {

      .create-project {
        padding: 3rem 2.22rem 3rem 3.8rem;
        border-radius: 10px 0 0 10px;
      }

      .NewProjectDesc {
        width: 15rem;
      }

      .NewProjectName {
        width: 15rem;
      }

      .CreateButtons {
        margin-right: 1.8rem;
      }
      .RocketThing{


      }
}