* {
    box-sizing: border-box;
}

.headerNavigation {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(90deg, #3FADBE, #3372B2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 360px;
}

.headerTabletIcon {
    display: none;
}

.headerRightSide {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerThemeButton {
    /* width: 100px; */
    border-radius: 19px;
    border: none;
    padding: 3px 10px;
    width: 60px;
    background-color: #FFF;
    height: 38px;
}

.headerUserName {
    display: none;
}

.headerUserRole {
    display: none;
}

.headerLogOutButton {
    border-radius: 5px;
    border: none;
    padding: 10px 16px;
    margin-right: 10px;
    background-color: #F5F6FA;
    font-size: 14px;
    color: #565656;
    /* font-family: Inter; */
}

.headerThemeButton:hover {
    background-color: #F5F6FA;
}

.headerLogOutButton:hover {
    background-color: #D5D5D5;
}

@media(min-width: 768px) {
    .headerNavigation {
        padding-left: 10px;
    }

    .headerMobileIcon {
        display: none;
    }

    .headerTabletIcon {
        display: inline-block;
    }

    .headerRightSide {
        gap: 30px;
    }

    .headerUserName {
        display: block;
        margin: 0;
        font-size: 14px;
        /* font-family: "Nunito Sans"; */
        color: #fff;
    }

    .headerUserRole {
        display: block;
        margin: 0;
        font-size: 12px;
        /* font-family: "Nunito Sans"; */
        color: #f5f6fa;
    }

    .headerLogOutButton {
        margin-right: 15px;
    }
}

@media(min-width: 1440px) {
    .headerNavigation {
        padding-left: 90px;
    }

    .headerThemeButton {
        margin-right: 60px;
    }
}