.projectIcons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.69rem;
    margin-top: 0.5rem;
}

.createProjectIcons {
    width: 1.25rem;
    height: 1.25rem;
}

.createProjectIcons:hover {
    background-color: #D5D5D5;
    padding: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.createProjectIconsSelected{
    background-color: #D5D5D5;
    padding: 1px;
    border-radius: 5px;
    width: 1.2rem;
}