* {
  box-sizing: border-box;
}

.MenuProjectList {
  display: flex;
  justify-content: space-between;
}

.MenuProjectListantras:hover{
  background-color: #C7D7FA;
  border-radius: 0.5rem;
  cursor: pointer;
}

.MenuProjectIcon {
  width: 1.125rem;
  margin-left: 2rem;
}

.MenuProjectName {
  margin-bottom: 0;
  margin-left: 0.81rem;
  color: #565656;
  font-size: 1rem;
  font-weight: 400;
}
