* {
    box-sizing: border-box;
}

<<<<<<< HEAD
.menuProjectPopUp {
    border-radius: 50px;
    /* min-width: 360px; */

}

=======
>>>>>>> a2b65dcd9381fbea90d69dd5ab7ea8372dca9fc8
.projectPopUp {
    width: 21rem;
    display: flex;
    flex-direction: column;
    min-height: 15rem;
    margin-top: 27px;
}
.projectPopUp .modal-dialog {
    width: 20rem;
}
.menuProjectPopUp{
    width: 2rem;
}

.homeIcon {
    border-bottom: 1px solid #d8d8d8;
    /* width: 100vh; */
    color: #565656;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.12rem;
    margin-left: -1rem;
    padding-left:1rem ;
    margin-top: -1rem;
    /* width: 100%; */
}

.houseIconText {
    gap: 10px;
    text-align: start;
    font-weight: 500;
    font-size: 1rem;
    color: #7A7E81;
}

.houseIcon {
    width: 24.9px;
    height: 24px;
    color: #565656;
    margin-left: 1rem;
    margin-bottom: 0.6rem;
}

.buttonthing {
    font-family: var(--inter);
    color: #7A7E81;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 1rem;
    border: none;
    background-color: #fff;
    text-decoration: none;
}

.closeButton {
    border: none;
    background: none;
    margin-top: -3rem;
    color: #565656;
    margin-right: 0.2rem;
}

.searchThing {
    /* margin-left: 5px; */
    /* width: 340px; */
    /* text-align: center; */
    /* justify-self: center; */
    /* border-radius: 1.1875rem; */
    margin: 0 1rem 1rem;
}

.folderTextThing {
    display: flex;
    justify-content: space-between;
    margin: 0 1.23rem 0.5rem;
}

.menuMyProjects {
    display: flex;
}

.folderIcon2 {
    color: #3fadbe;
    width: 1.55606rem;
    height: 1.5rem;
    margin-right: 0.65rem;
    /* margin: 1rem; */
    /* margin-bottom: 64px; */
}

.myProjectsText {
    font-family: var(--montserrat);
    color: #7A7E81;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.1rem;
}

.addProjectButton {
    border: none;
    background: none;
    color: #3fadbe;
    display: flex;
}

.addProjectButton:hover {
    color: #3593A2 !important;
}

/* Dark theme css */


.projectPopUpDark {
    min-width: 22.5rem;
    display: flex;
    flex-direction: column;
    min-height: 15rem;
    height: 80vh;
    margin-top: 27px;
    background-color: #1E1E1E;
}

.buttonthingDark {
    padding-left: 1rem;
    border: none;
    background-color: #fff;
    text-decoration: none;
    background-color: #1E1E1E;
    color: #FFFFFF;
}

.myProjectsTextDark {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.1rem;
    font-family: var(--montserrat);
}

.offcanvasBodyDark {
    background-color: #1E1E1E;
    border-radius: 0.4rem;
}

@media screen and (min-width: 768px) {
    .projectPopUp {
         width: 25rem; 
        min-height: 20rem;
<<<<<<< HEAD
        min-width: 22.5rem;
    }

    /* Dark theme css */

    .projectPopUpDark {
        min-height: 20rem;
        min-width: 22.5rem;
        background-color: #1E1E1E;
    }
=======
       
      }
      .closeButton{
        margin-right: 1rem;
      }
>>>>>>> a2b65dcd9381fbea90d69dd5ab7ea8372dca9fc8
}

@media screen and (min-width: 1440px) {
    .closeButton {
        display: none;
    }
}