.myModal .modal-content {
  padding-left: 0.8rem;
  padding-top: 0.4rem;
  padding-right: 0.8rem;
  width: 10rem !important;
  height: 4rem !important;
}

.myModal .modal-dialog {
  position: fixed;
  left: 30%;
  margin-top: 1000px;
}
div [class="fade myModal modal show"] {
  display: none !important;
  position: absolute;
  width: 100vh !important;
}
div[class="fade modal-backdrop show"] {
  display: none !important;
}

.myDeleteModal .modal-footer {
  justify-content: center !important;
}

.myDeleteModal .modal-body {
  text-align: center !important;
}

.myDeleteModal .modal-content {
  width: 22.875rem !important;
}
