* {
    box-sizing: border-box;
  }
  
  .MenuProjectList {
    display: flex;
    justify-content: space-between;
  }
  
  .MenuProjectList:hover{
    background-color: #C7D7FA;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .MenuProjectIcon {
    width: 1.125rem;
    margin-left: 2rem;
  }
  
  .MenuProjectName {
    margin-bottom: 0;
    margin-left: 0.81rem;
    color: #565656;
    font-size: 1rem;
    font-weight: 400;
  }

.myModal .modal-content {
    padding-left: 0.8rem;
    padding-top: 0.4rem;
    padding-right: 0.8rem;
    width: 10rem !important;
    height: 4rem !important;
}

.myModal .modal-dialog {
    margin-top: 18.5rem !important;
    margin-left: 13rem !important;
}

.myDeleteModal .modal-footer {
    justify-content: center !important;
}

.myDeleteModal .modal-body {
    text-align: center !important;
}

.myDeleteModal .modal-content {
    width: 22.875rem !important;
}

/* ----  edit icon --- */

.editIcon {
    width: 1rem;
    height: 1rem;
    color :#7a7e8133;
    margin-right: 1.6rem;
}

.editIcon:hover{
    cursor: pointer;
    background-color:  #D5D5D5;
}

.menu-trash, .menu-pencilsquare{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.menu-edit:hover, .menu-pencilsquare:hover{
    background-color: #C7D7FA;
    border-radius: 0.3rem;
}

.menu-edit, .menu-trash{
    cursor: pointer;
}