.ownerBtn {
    border: 1px solid #b9b9b9; /* sita reikes nuimti */
    width: 5rem;
    text-align: center;
    color: #565656;
    background-color: #ffffff;
    height: 1.9rem;
    margin-top: 1rem; 
    /* sita reikes nuimti */
    margin-left: 1rem; 
    /* sita reikes nuimti */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ownerMenu {
    border: 1px solid #d8d8d8;
    border-radius: 0.625rem;
    width: 15rem;
    margin-left: 1rem;
  }
  .ownerList {
    margin-left: 0.5rem;
    margin-top: 1rem;
  }
  
  .ownerIconWater {
    color: #40adbe;
    font-size: 1.7rem;
    margin-right: 0.5rem;
    padding: 0.05rem;
    border-radius: 50%;
    border: 1px solid #b9b9b9;
  }
  .ownerIconOrange {
    color: #fdab3d;
    font-size: 1.7rem;
    margin-right: 0.5rem;
    padding: 0.05rem;
    border-radius: 50%;
    border: 1px solid #b9b9b9;
  }
  
  .ownerIconGrape {
    color: #7f5db6;
    font-size: 1.7rem;
    margin-right: 0.5rem;
    padding: 0.05rem;
    border-radius: 50%;
    border: 1px solid #b9b9b9;
  }
  
  .ownerIconBlue {
    color: #3372b2;
    font-size: 1.7rem;
    margin-right: 0.5rem;
    padding: 0rem;
    border-radius: 50%;
    border: 1px solid #b9b9b9;
  }
  
  .ownerIconEmpty {
    color: #ececec;
    font-size: 1.7rem;
    padding: 0.05rem;
    border-radius: 50%;
    border: 1px solid #b9b9b9;
  }
  
  .initials {
    position: relative;
  }  
  
  .initials div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-73%, -50%);
    color: white;
    font-size: 12px;
  }
   