* {
    box-sizing: border-box;
}

.ProjectPopUp {
    min-width: 22.5rem;
    display: flex;
    flex-direction: column;
    min-height: 15rem;
    /* justify-content: center; */
}

.buttonthing {
    padding-left: 1rem;
}

.home-icon {
    border-bottom: 1px solid #d8d8d8;
    color: #565656;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.12rem;
    /* width: 100%; */
}

.HouseIcon {
    width: 24.9px;
    height: 24px;
    color: #565656;
    margin-left: 1rem;
    margin-bottom: 0.6rem;
}

.HouseIconText {
    gap: 10px;
    text-align: start;
    font-weight: 500;
    font-size: 1rem;
    color: #7A7E81;
}

.CloseButton {
    width: 20px;
    height: 20px;
    color: #565656;
}

.closeButton {
    border: none;
    background: none;
    margin-top: -3rem;
}

.SearchThing {
    /* margin-left: 5px; */
    /* width: 340px; */
    /* text-align: center; */
    /* justify-self: center; */
    /* border-radius: 1.1875rem; */
    margin: 0 1rem;
}

.SearchThing input {
    border-radius: 0 1.1875rem 1.1875rem 0 !important;
}

.SearcbarThing input::placeholder {
    color: #202224;
    opacity: 0.5;
    font-size: 0.875rem;
}

.SearcbarThing svg {
    color: #202224;
    opacity: 0.5;
}

.popup-content {
    border-radius: 10px;
    margin-left: -16px;
    box-shadow: 2px 1px 20px #a5a4a4;
    background-color: #ffffff;
}

.FolderIcon2 {
    color: #3fadbe;
    width: 1.55606rem;
    height: 1.5rem;
    margin-right: 0.65rem;
    /* margin: 1rem; */
    /* margin-bottom: 64px; */
}

.ProjectPopUp {
    margin-top: 27px;
}

.popup-arrow {
    opacity: 0;
}

.FolderTextThing {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1.23rem;
}

/* .PlusIcon {
    display: flex;
    border: none;
    width: 50px;
    height: 50px;
  }
  
  .AddProjectButton {
    border: none;
    background: none;
    color: #3fadbe;
    display: flex;
    margin-left: 200px;
  } */

.menu-my--projects {
    display: flex;
}

/* .PlusIcon {
    border: none;
    width: 50px;
    width: 1.42638rem
    color: #202224;
} */

.AddProjectButton {
    border: none;
    background: none;
    color: #3fadbe;
    display: flex;
}

.my-projects--text {
    color: #7A7E81;
    font-size: 1rem;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    /* .popup-content {
        width: 248px;
        height: 391px;
      }

      .buttonthing {
        width: 248px;
      }

      .SearchThing {
        margin-left: 10px;
        width: 220px;
      }

      .FolderTextThing {
        margin-left: 10px;
      } */

      .ProjectPopUp {
        min-height: 20rem;
      }
}

@media screen and (min-width: 1440px) {
    .closeButton {
        display: none;
    }
}