.buttonthing {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid #d8d8d8;
  background: none;
  color: #565656;
  width: 360px;
  margin-bottom: 10px;
}
.SearcbarProjectList {
  margin-top: 10px;
}
.HouseIcon {
  width: 24.9px;
  height: 24px;
  color: #565656;
}
.HouseIconText {
  gap: 10px;
  text-align: start;
}
.CloseButton {
  width: 20px;
  height: 20px;
  color: #565656;
}
.closeButton {
  border: none;
  background: none;
  position: absolute;
  left: 320px;
}
.mb-3 {
  width: 360px;
}
.SearchThing {
  margin-left: 5px;
  width: 340px;
  border-radius: 5px;
}
.MenuThing {
  border: none;
  background: none;
  color: #3fadbe;
}
.FolderIcon1 {
  color: #3fadbe;
}
.ProjectThing {
  margin: 15px;
}
.popup-content {
  border-radius: 10px;
  margin-left: -16px;
  box-shadow: 2px 1px 20px rgb(165, 164, 164);
  background-color: white;
}
.FolderText {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  font-size: 20px;
  font-weight: 300;
  color: #7a7e81;
}
.FolderIcon2 {
  color: #3fadbe;
  margin-bottom: 64px;
}
.ProjectPopUp {
  margin-top: 27px;
}
.popup-arrow {
  opacity: 0;
}
.FolderTextThing {
  display: flex;
}
.PlusIcon {
  display: flex;
  border: none;
}
.AddProjectButton {
  border: none;
  background: none;
  color: #3fadbe;
  display: flex;
  margin-left: 200px;
}
#inputGroup-sizing-sm {
  background-color: White;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.InputBoxCss {
  border-top-right-radius: 20px;
  border-left: none;
}
.mb-32 {
  margin-top: 10px;
}
img.ChartIcon {
  margin-top: 268px;
  margin-left: 83px;
  display: flex;
  width: 194px;
  height: 140.148px;
  justify-content: center;
  align-items: center;
}
.CreatePopUp-content {
  margin-top: 170px;
  height: 617px;
  width: 347px;
  display: flex;
  justify-content: center;
  margin-left: 0.5px;
}
.NewProjectName {
  width: 240px;
}
.NewProjectDesc {
  width: 240px;
}
.H12 {
  margin-top: 30px;
}
.CreateButtons {
  display: flex;
  justify-content: end;
  margin-right: 15px;
  margin-top: 10px;
}
.Rocket {
  width: 129px;
  height: 134px;
  margin-top: 23px;
  margin-left: 60px;
}
.PopUpInsides {
  margin-left: 20px;
}
.RocketSlogan {
  background: linear-gradient(90deg, #3fadbe 0%, #4067f6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  font-weight: 800;
}
.cancelBtn{
  margin-left: -55px;
}
.btnContent{
  margin-top: -3px;
}
@media screen and (min-width: 361px) {
  .ProjectListHeader {
    display: flex;
    white-space: nowrap;
  }
  .FolderText {
    margin-top: 10px;
  }
  .SearcbarProjectList {
    width: 300px;
    border-radius: 60px;
  }
  .CreateProjectTHing {
    justify-content: center;
    align-items: center;
    margin-left: 27%;
  }
  .popup-content {
    width: 248px;
    height: 391px;
  }
  .buttonthing {
    width: 248px;
  }
  .closeButton {
    left: 220px;
  }
  .SearchThing {
    margin-left: 10px;
    width: 220px;
  }
  .FolderTextThing {
    margin-left: 10px;
  }
  .Thing2 {
    width: 300px;
    height: 38px;
  }
  .CreatePopUp-content{
    width: 750px;
    height: 416px;
  }
  .PopUpInsides{
    margin-left: -55%;
  }
  .CreateButtons{
    display: flex;
    justify-content: start;
    margin-left: 4%;
  }
  .RocketSlogan{
    margin-left: 65px;
  }
  .RocketThing{
    position: absolute;
    margin-top: -300px;
    margin-left:350px;
 }
 .Rocket{
    width: 242px;
    height: 252px;
 }
}
