* {
    box-sizing: border-box;
}

.ProjectPopUp {
    background-color: white;
    position: absolute;
    z-index: 999;
    top: 125px;
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.16);
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
}
.popup-content{
    min-width: 22.5rem;
    display: flex;
    flex-direction: column;
}

.buttonthing {
    padding-left: 1rem;
}

.home-icon {

    border-bottom: 1px solid #d8d8d8;
    color: #565656;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.12rem;
    margin-top: 27px;
    /* width: 100%; */
}

.HouseIcon {
    width: 24.9px;
    height: 24px;
    color: #565656;
    margin-left: 1rem;
    margin-bottom: 0.6rem;
}

.HouseIconText {
    gap: 10px;
    text-align: start;
    font-weight: 500;
    font-size: 1rem;
    color: #7A7E81;
}

.CloseButton {
    width: 20px;
    height: 20px;
    color: #565656;
}

.closeButton {
    border: none;
    background: none;
    margin-top: -2rem;
}
.PopupHeader{
    height: 300px;
}
.SearchPopUp{
    background-color: #F5F6FA;
    border: 0.6px solid #D5D5D5;
    border-left: none;
    height: 35px;
    width: 297px;
    
}
.SearchIcon{
    border: 0.6px solid #D5D5D5;
}
#inputGroup-sizing-sm{
    background-color: #F5F6FA;
}

.Searchicon{
    margin-left: 10px;
    margin-top: 7px;
    margin-right: 10px;
}
.PlusIcon{
    display: flex;
    justify-content: end;
}

.SearchThing {
    margin-left: 10px;
}

.SearchThing input {
    border-radius: 0 1.1875rem 1.1875rem 0 !important;
}

.SearcbarThing input::placeholder {
    color: #202224;
    opacity: 0.5;
    font-size: 0.875rem;
}

.SearcbarThing svg {
    color: #202224;
    opacity: 0.5;
}


.popup-content {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 1px 20px #a5a4a4;
    background-color: #ffffff;
}

.FolderIcon2 {
    color: #3fadbe;
    width: 1.55606rem;
    height: 1.5rem;
    margin-right: 0.65rem;
    margin-top: 10px;
    margin-left:-3px;
}

.ProjectPopUp {
    margin-top: 27px;
}

.popup-arrow {
    opacity: 0;
}

.FolderTextThing {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1.23rem;
}

.menu-my--projects {
    display: flex;
}

.AddProjectButton {
    display: flex;
    justify-content: end;
margin-top: 1rem;
    border: none;
    background: none;
    color: #3fadbe;
    display: flex;
    width: 5rem;
}

.my-projects--text {
    color: #7A7E81;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 10px;
}

.AddProjectButton:hover {
    color: #3593A2;
}

@media screen and (min-width: 768px) {
    .ProjectPopUp{
        width: 15.5rem;
    }
    .popup-content{
        min-width: 15.5rem;
        min-height: 25rem;
    }
    .SearchPopUp{
        width:11.75rem;
    }

}

@media screen and (min-width: 1440px) {
    .closeButton {
        display: none;
    }
}