@media screen and (min-width: 360px) {

    .table-box {
        background: #F5F6FA;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    .name {
        color: #565656;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .status {
        color: #565656;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
    }

    .tasks {
        color: #565656;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
    }

    .project-list {
        border-bottom: 1px solid #565656;
    }
}