* {
  box-sizing: border-box;
}

.projectWithoutList {
  min-width: 360px;
  background-color: #f5f6fa;
  padding-top: 1.12rem;
  margin-top: 5rem;
  min-height: 93.8vh;
}

.projectListMenu {
  display: none;
}

.projectListCard {
  background-color: #fff;
  border-radius: 0.625rem 0.625rem 0rem 0rem;
  min-height: 92.5vh;
}

.projectThing {
  padding: 15px;
}

.menuThing {
  border: none;
  background: none;
  color: #3fadbe;
}

.folderText {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: -35px;
  font-size: 1.25rem;
  font-weight: 300;
  color: #7a7e81;
  margin-bottom: 1.88rem;
  margin-left: 4rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: -35px;
  font-size: 1.25rem;
  font-weight: 300;
  color: #7a7e81;
  margin-bottom: 1.88rem;
  margin-left: 4rem;
}

.folderIcon1 {
  color: #3fadbe;
  width: 1.875rem;
  margin-right: 1rem;
}

.createProjectBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 9.69rem;
}

img.chartIcon {
  width: 194px;
  height: 140.148px;
}

.createFirstProjectButton {
  background-color: #3fadbe;
  color: white;
  border: #3fadbe;
  height: 50px;
  width: 299px;
  margin-top: 40px;
  border-radius: 5px;
  font-family: var(--inter);
  font-weight: 400;
}

.createFirstProjectButton:hover {
  background-color: #3593a2 !important;
}
.myProjectsText {
  font-family: var(--montserrat);
  font-size: 1.25rem;
  font-weight: 300;
}


/* Dark theme css  */


.projectWithoutListDark {
  min-width: 360px;
  background-color: #121212;
  padding-top: 1.12rem;
  margin-top: 5rem;
  min-height: 93.8vh;
}

.projectListCardDark {
  background-color: #1E1E1E;
  border-radius: 0.625rem 0.625rem 0rem 0rem;
  min-height: 92.5vh;
}

.myProjectsTextDark{
  color: #FFF;
  font-family: var(--montserrat);
  font-size: 1.25rem;
  font-weight: 300;
}

.projectListMenuDark {
  display: none;
}

.createFirstProjectButtonDark {
  background: #3372B2;
  color: white;
  border: #3fadbe;
  height: 50px;
  width: 299px;
  margin-top: 40px;
  border-radius: 5px;
  font-family: var(--inter);
  font-weight: 400;
}


@media screen and (min-width: 768px) {
  .projectListHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15.44rem;
  }

  .folderText {
    /* justify-content: flex-start; */
    /* margin-right: 3rem; */
    /* left: 50px; */
    /* width: 5rem; */
    /* margin-left: -13rem; */
    /* margin-top: 0;
  .folderText {
    /* justify-content: flex-start; */
    /* margin-right: 3rem; */
    /* left: 50px; */
    /* width: 5rem; */
    /* margin-left: -13rem; */
    /* margin-top: 0;
        margin-bottom: 0; */
    font-size: 1.375rem;
  }

  .myProjectsText {
    margin-left: 10px;
    font-size: 1.375rem;
  }

  .folderIcon1 {
    width: 2.25rem;
    margin-right: 0.7rem;
  }
  .folderIcon1 {
    width: 2.25rem;
    margin-right: 0.7rem;
  }

  .createProjectBox {
    margin-top: 0;
  }

  /* Dark theme css */

  .myProjectsTextDark {
    margin-left: 10px;
    font-size: 1.375rem;
    color: #FFF;
  }


  .createProjectBox {
    margin-top: 0;
  }
}

@media screen and (min-width: 1440px) {
  .projectWithoutList {
    display: flex;
    width: 100%;
    gap: 1.06rem;
    height: 100vh;
  }

  .projectListMenu {
    display: block;
    max-width: 30%;
    background-color: #FFF;
    border-radius: 0rem 0.625rem 0rem 0rem;
  }

  .projectListCard {
    width: 100%;
  }

  .projectListHeader {
    justify-content: start;
  }

  .menuThing {
    display: none;
  }

  .folderIcon1 {
    width: 3.5rem;
  }

  .folderText {
    font-size: 1.875rem;
    /* justify-content: start; */
    /* text-align: left; */
    margin: 0;
  }

  .projectListSearchBar {
    display: none;
  }

  .myProjectsText {
    font-size: 1.875rem;
  }

  /* Dark theme css  */

  .projectWithoutListDark {
    display: flex;
    width: 100%;
    gap: 1.06rem;
    height: 100vh;
    background-color: #121212;
  }

  .projectListCardDark {
    width: 100%;
  }

  .projectListMenuDark {
    display: block;
    max-width: 30%;
    background-color: #FFF;
    border-radius: 0rem 0.625rem 0rem 0rem;
    background-color: #1E1E1E;
  }

  .createFirstProjectButton {
    margin-right: -1rem;
  }

  .myProjectsTextDark {
    font-size: 1.875rem;
  }

  .createFirstProjectButtonDark {
    margin-right: -1rem;
  }
}
