.statusBtn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  width: 99%;
  text-align: center;
  color: #565656;
  background-color: #ffffff;
  height: 2.323rem;
}

.statusMenu {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #d8d8d8;
  background-color: #ffffff;
  border-radius: 0.625rem;
  width: 7rem;
  z-index: 9999;
  box-shadow: 0 2px 5px 3px #0000001a;
}

.statusDo {
  background-color: #3372b2;
  text-align: center;
  margin: 0.3rem;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
}
.statusDo:hover {
  background-color: #3372b2;
  cursor: pointer;
}
.statusProgress {
  background-color: #7f5db6;
  text-align: center;
  margin: 0.3rem;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
}
.statusProgress:hover {
  background-color: #6a4d98;
  cursor: pointer;
}

.statusDone {
  background-color: #00a167;
  text-align: center;
  margin: 0.3rem;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
}
.statusDone:hover {
  background-color: #008453;
  cursor: pointer;
}
.selected {
  background-color: #3372b2;
  color: #fff;
}

.statusInProgress {
  background-color: #7f5db6;
  color: #fff;
}

.statusDoneSelected {
  background-color: #00a167;
  color: #fff;
}

@media screen and (min-width: 768px) {

}
