.allTaskList {
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.tableHeader th {
    background: #f5f6fa !important;
    text-align: center;
    color: #565656 !important;
    font-family: var(--iner) !important;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.tableHeaderOwnerTh {
    position: relative;
    width: 3.5rem;
}

.tableHeaderStatusTh,
.tableHeaderPriorityTh {
    position: relative;
    width: 6rem;
    padding: 0;
}

.tableHeaderCreationDate,
.tableHeaderCompletionDate {
    width: 6rem;
}

.tableBody td input {
    border: none !important;
    height: 2.323rem;
}

.tableBody td {
    padding: 0rem !important;
}

.tableHeaderKey {
    width: 3rem;
}

.keyName {
    font-family: var(--inter);
    font-size: 0.75rem;
    font-weight: 500;
    color: #565656;
    width: 3rem;
    text-align: center;
    padding-top: 0.5rem;
    margin-bottom: 0;
    background-color: #ffffff;
}

.tasklistTaskField {

    display: flex;
    align-items: center;
    border: none;
}

.tasklistTaskField input {
    font-family: var(--inter);
    font-size: 0.75rem;
    font-weight: 500;
    color: #565656;
    flex-grow: 1;
    border: none;
}

.tasklistTaskField span {
    margin-left: 0.1rem;
    margin-right: 0.2rem;
}

.taskName {
    font-family: var(--inter);
    font-size: 0.75rem;
    font-weight: 500;
    color: #565656;
    width: 13rem;
    overflow: hidden;
    text-align: start;
    display: flex;
    padding-left: 1rem;
}

.pencilTrashIcon {
    color: #9F9F9F;
    cursor: pointer;
}

.tableHeaderOwner {
    position: relative;
    min-width: 3.98rem;
}

.tableHeaderStatus,
.tableHeaderPriority {
    font-family: var(--inter);
    font-size: 0.75rem;
    font-weight: 500;
    position: relative;
    min-width: 6rem;
    padding: 0;
}

.tableTimeline {

    width: 9rem;
    text-align: center;
    padding-left: 1rem;
    vertical-align: middle;
    position: relative;
}

.taskCreationDate,
.taskCompletionDate {
    color: #565656;
    text-align: center;
    font-family: var(--inter);
    font-size: 0.75rem;
    font-weight: 500;
    width: 7.5rem;
    padding-top: 0.5rem;
    margin-bottom: 0;
}

.DeleteModalCloseBtn {
    background-color: #ffff;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0.1rem;
    right: 0.5rem;
}

.cancelBtn {
    margin-right: 1rem;
    background-color: #ffffff !important;
    border: 1px solid #D5D5D5 !important;
    color: #565656 !important;
}

.createBtn {
    background-color: #3FADBE !important;
    border: #3FADBE !important;
}

.tableForm {
    margin-left: 1rem;
    margin-right: 1rem;
}

.pencilTrashIcon:hover {
    color: #565656
}

.cancelBtn:hover {
    background-color: #F5F6FA !important;
    ;
}

.createBtn:hover {
    background-color: #3593A2 !important;
}

/* Dark theme css */

.tableHeaderDark th {
    background: #121212 !important;
    color: #ffffff !important;
    text-align: center;
    color: #565656;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.taskrowDark td {
    background-color: #202020 !important;
    color: #ffffff !important;
}

.taskNameDark {
    width: 13rem;
    overflow: hidden;
    text-align: start;
    display: flex;
    padding-left: 1rem;
    padding-top: 0.5rem;
    background-color: #202020;
    color: #ffffff;
}

.tableHeaderCreationDateDark,
.tableHeaderCompletionDateDark {
    width: 6rem;
    background-color: #202020 !important;
    color: #ffffff !important;
}

.tableHeaderKeyDark {
    width: 3rem;
    background-color: #202020 !important;
}

.tableHeaderOwnerThDark {
    position: relative;
    width: 3.5rem;
    background-color: #202020 !important;
}

.keyNameDark {
    width: 3rem;
    text-align: center;
    padding-top: 0.5rem;
    margin-bottom: 0;
    background-color: #202020;
    color: #ffffff;
}

.taskCreationDateDark,
.taskCompletionDateDark {
    background-color: #202020;
    color: #ffffff;
    text-align: center;
    font-family: var(--inter);
    font-size: 0.75rem;
    font-weight: 500;
    width: 7.5rem;
    padding-top: 0.5rem;
    margin-bottom: 0;
}

.tasklistTaskFieldDark {
    display: flex;
    align-items: center;
    border: none;
    background-color: #202020;
    color: #ffffff;
}

.tasklistTaskFieldDark input {
    flex-grow: 1;
    border: none;
    background-color: #202020;
}

.tasklistTaskFieldDark span {
    margin-left: 0.1rem;
    margin-right: 0.2rem;
    background-color: #202020;
}

.tableTimelineDark {
    width: 9rem;
    text-align: center;
    padding-left: 1rem;
    vertical-align: middle;
    position: relative;
    background-color: #202020 !important;
}

.createBtnDark {
    padding: 0.625rem 1rem;
    background: #3372B2 !important;
    border: none !important;
    width: 4.9375rem;
    height: 2rem;
    margin-top: 0.1rem;
}

.DeleteModalTextDark {
    color: #ffffff;
}

.DeleteModalCloseBtnDark {
    background-color: #202224;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0.1rem;
    right: 0.5rem;
}

.cancelBtnDark {
    margin-right: 1rem;
    background: #1E1E1E !important;
    border: 1px solid #D5D5D5 !important;
    color: #FFF !important;
    margin-top: 1rem;

}

.createBtnDark {
    background: #3372B2 !important;
    border: #3FADBE !important;
    margin-top: 1rem;
    height: 2.5rem;
}

.taskCompletionDate {
    color: #FFF;
}

@media screen and (min-width: 768px) {
    .allTaskList {
        max-width: 100%;
    }

    .keyName {
        width: 3rem;
    }

    .taskName {
        width: 25rem;
        overflow: hidden;
        text-align: start;
    }

    .taskCreationDate,
    .taskCompletionDate {
        width: 7.5rem;
    }

    /* Dark theme css */

    .taskNameDark {
        width: 25rem;
        overflow: hidden;
        text-align: start;
    }

    .keyNameDark {
        width: 3rem;
    }

    .taskCreationDateDark,
    .taskCompletionDateDark {
        width: 7.5rem;
    }
}

@media screen and (min-width: 1440px) {
    .keyName {
        width: 2.5rem;
        text-align: center;
    }

    .taskName {
        width: 18rem;
        overflow: hidden;
        text-align: start;
    }

    .taskCreationDate {
        width: 7rem;
    }

    .taskCompletionDate {
        width: 8rem;
    }

    .tableHeader th {
        font-size: 0.875rem !important;
    }

    .keyName,
    .taskName,
    .tableHeaderStatus,
    .tableHeaderPriority,
    .tasklistTaskField input,
    .taskCreationDate,
    .taskCompletionDate {
        font-size: 0.875rem
    }

    /* Dark theme css */

    .taskNameDark {
        width: 18rem;
        overflow: hidden;
        text-align: start;
    }

    .keyNameDark {
        width: 2.5rem;
        text-align: center;
    }

    .taskCreationDateDark {
        width: 7rem;
        font-size: 0.875rem
    }

    .tableHeaderDark th {
        font-size: 0.875rem
    }
    
}