.cancelBtn{
    margin-right: 1rem;
    background-color: #ffffff !important;
    border: 1px solid #D5D5D5!important;
    color: #565656 !important;
}
.cancelBtn:hover{
    background-color:#F5F6FA !important; ;
}
.createBtn{
    background-color: #3FADBE   !important;
    border: #3FADBE !important;
}
.createBtn:hover{
    background-color: #3593A2 !important;

}
.DeleteModalCloseBtn{
    background-color: #ffff;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0.1rem;
    right: 0.5rem;
}
.myTaskDeleteModalText{
    margin-bottom: 1rem;
}

.showTaskExecutionForm {
    display: none;
}

.table-headerPriorityForm {
    position: relative;
    width: 6rem;
    padding: 0;
}

.table-headerTimeline {
    width: 10rem;
}

.pencil {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.task-statusForm {
    width: 6rem;
    position: absolute;
}

.task-priority {
    width: 6rem;
    position: absolute;
}

.task-priorityForm {
    width: 6rem;
    position: absolute;
}

.taskListTimeLineButton {
    border: none;
    background: none;
}

@media screen and (min-width: 768px) {
    .pencil {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
    }

    .task-timeline {
        width: 9rem;
    }
}

@media screen and (min-width: 1440px) {

    ._taskListCard_1d586_35 {
        min-width: 73%;
    }

    .pencil {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
    }

    .task-timeline {
        width: 9rem;
    }
}